@import 'colors';

.container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    font-family: Roboto;

    @media screen and (max-width: 1650px) {
        padding: 20px;
    }

    .fullViewDialog {
        background-color: yellow;

        .container {
            display: flex;
            height: 100vh;
            flex: 1 1 auto;
            flex-direction: column;
            
            .closeButton {
                display: flex;
                flex: initial;
                align-self: flex-end;
            }
        
            .body {
                display: flex;
                flex: 1 1 auto;
                // background-color: khaki;
                justify-content: space-between;
                padding: 10px 20px;
                align-items: center;
        
                .image {
                    display: block;
                    background-color: lavender;
                    width: 90%;
                }
            }
        }
    }

    .editContainer {
        display: flex;
        justify-content: flex-end;
        padding-right: 20px;

        .editBtn {
            border-radius: 5px;
            background-color: $button-background;
        }
    }

    .titleContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
        // background-color: yellow;

        .title {
            padding-left: 20px;
            font-weight: bolder;
            font-size: 30px;

            @media screen and (max-width: 1650px) {
                font-size: 25px;
            }

            @media screen and (max-width: 700px) {
                font-size: 20px;
                padding-left: 0px;
            }
        }

        .button {
            display: flex;
            margin-right: 10px;
            margin-top: 5px;
            padding: 5px 10px;
            border-radius: 30px;
            color: white;
            font-size: 18px;
            background-color: $available-status;

            a {
                display: flex;
                align-items: center;
            }

            @media screen and (max-width: 1650px) {
                font-size: 15px;
            }

            @media screen and (max-width: 700px) {
                font-size: 12px;
                padding: 3px 8px;
            }
        }

        .status {
            display: flex;
            margin-right: 20px;
            margin-top: 5px;
            padding: 5px 20px;
            border-radius: 30px;
            color: white;
            font-size: 18px;
            letter-spacing: 1px;
            background-color: $available-status;

            @media screen and (max-width: 1650px) {
                font-size: 15px;
            }

            @media screen and (max-width: 700px) {
                font-size: 12px;
                padding: 3px 8px;
            }
        }
    }

    .divider {
        height: 3px;
        background-color: red;
        margin-top: 3px;
        margin-bottom: 10px;

        @media screen and (max-width: 1000px) {
            padding-left: 3px;
        }
    }

    .detailsContainer {
        display: flex;

        @media screen and (max-width: 1000px) {
            flex-direction: column;
        }

        .imagesContainer {
            display: flex;
            padding-left: 20px;
            flex-direction: column;

            @media screen and (max-width: 1650px) {
                padding-top: 20px;
            }

            @media screen and (max-width: 1000px) {
                padding: unset;
            }

            .moreImagesContainer {
                display: flex;
                width: 600px;
                height: 120px;
                align-items: center;
                flex-direction: row;
                overflow: auto;

                @media screen and (max-width: 1650px) {
                    width: 500px;
                }

                @media screen and (max-width: 1000px) {
                    width: 100%;
                }

                .imageContainer {
                    padding-right: 5px;
                }
            }
        }

        .detailsContainer {
            display: flex;
            padding: 0 0 0 40px;
            flex-direction: column;
            flex: 1;

            @media screen and (max-width: 1650px) {
                padding: unset;
            }

            .detailTitleContainer {
                display: flex;
                flex-direction: column;
                flex: none;
                padding-top: 15px;
                padding-bottom: 10px;

                span {
                    font-size: 25px;
                    padding-left: 15px;
                }
                .divider {
                    height: 2px;
                    background-color: red;
                    margin-top: 10px;
                }
            }

            .detail {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px 20px;

                .description {
                    max-width: 400px;
                }
            }

            .detailsDivider {
                height: 1px;
                background-color: rgb(194, 194, 194);
            }
        }
    }
}