@import 'colors';

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;

    .title {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 30px;
        font-weight: bold;
    }

    .divider {
        height: 2px;
        background-color: red;
        width: 1000px;
        margin-top: 10px;
    }

    .carListContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        
        .cardContainer {
            padding: 20px 40px;
            display: grid;
            grid-template-columns: auto auto auto auto;
            gap: 40px;
            border-radius: 5px;
            cursor: pointer;
            box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.05);
            will-change: width, height;

            .item {
                width: auto;
                border-radius: 5px;
                will-change: transform, opacity;
            }
        }
    }

    .paginator {
        display: flex;
        padding-top: 10px;
        justify-content: space-between;

        .button {
            margin: 10px 20px;
            padding: 5px 20px;
            background-color: $button-background;
            border-radius: 40px;
            color: white;
        }
    }

}

@media screen and (max-width: 1300px) {
    .container {

        .divider {
            width: 850px;
        }

        .carListContainer {

            .cardContainer {
                grid-template-columns: auto auto auto;
            }
        }
    }
}


@media screen and (max-width: 950px) {
    .container {

        .divider {
            width: 550px;
        }

        .carListContainer {

            .cardContainer {
                grid-template-columns: auto auto;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .container {

        .divider {
            width: 250px;
        }

        .carListContainer {

            .cardContainer {
                grid-template-columns: auto;
            }
        }

    }
}
