@import 'colors';

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;

    .title {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 30px;
        font-weight: bold;
    }

    .divider {
        height: 2px;
        background-color: red;
        width: 1000px;
        margin-top: 10px;
    }

    .carListContainer {
        padding-top: 40px;
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 20px;
    }

    .paginator {
        display: flex;
        padding-top: 10px;
        justify-content: space-between;

        .button {
            margin: 10px 20px;
            padding: 5px 20px;
            background-color: $button-background;
            border-radius: 40px;
            color: white;
        }
    }

}

@media screen and (max-width: 1300px) {
    .container {

        .divider {
            width: 850px;
        }

        .carListContainer {
            grid-template-columns: auto auto auto;
        }
    }
}


@media screen and (max-width: 950px) {
    .container {

        .divider {
            width: 550px;
        }

        .carListContainer {
            grid-template-columns: auto auto;
        }
    }
}

@media screen and (max-width: 700px) {
    .container {

        .divider {
            width: 250px;
        }

        .carListContainer {
            grid-template-columns: auto;
        }

    }
}
