@import 'colors';

.container {
    height: 80px;
    background-color: $header-background;
    padding: 0 40px 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;

    .logo {
        font-family: 'CorinthiaBold';
        font-size: xx-large;
        font-weight: 1000;
        color: #C60021;
    }

    .menus {
        display: flex;

        div {
            display: flex;
            width: max-content;
            height: 40px;
            justify-content: center;
            align-items: center;
            margin-right: 20px;
            padding: 10px 20px;
            background-color: #C60021;
            color: white;
            border-radius: 20px;
        }
    }

    .sideNavMenu {
        display: none;
        font-size: xx-large;
    }

    .sideNavContainer {
        position: absolute;
        width: 80%;
        right: 0;
        height: 100%;
        z-index: 10;
    }
}

@media screen and (max-width: 600px) {
    .container {

        .menus {
            display: none;
        }

        .sideNavMenu {
            display: flex;
        }
    }
}
