.container {
    display: flex;
    flex: none;
    flex-direction: column;
    min-height: 500px;
    background: white;

    padding: 20px 40px;
    justify-content: center;
    align-items: center;
    font-family: Roboto;

    .title {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 30px;
        font-weight: bold;
    }

    .divider {
        height: 2px;
        background-color: red;
        width: 80%;
        margin-top: 10px;
    }

    .carsContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        padding: 20px;

        .cardContainer {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            cursor: pointer;
            box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.05);
            // will-change: width, height;

            .item {
                width: auto;
                border-radius: 5px;
                margin: 10px;
                background-color: transparent;
                background: transparent;
                will-change: transform, opacity;
              }
        }
    }

    .seeAllButton {
        padding: 10px;

        button {
            margin-top: 10px;
            background: #C60021;
            padding: 8px 20px;
            // border-radius: 20px;
        }
    }
}